.footer {
  background-color: #1f1f1f;
  color: #fff;
  padding: 40px 20px 20px 20px;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.footer-left h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-block; /* make it inline so spans sit together */
  letter-spacing: 0;     /* remove extra spacing */
}

.footer-left h2 span:first-child {
  color: #f5f5f5;
}

.footer-left h2 span:last-child {
  color: #efe304;
}


.footer-left p {
  font-size: 14px;
  color: #ccc;
}

.footer-right h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.social-icons a {
  margin-right: 15px;
  color: #fff;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #2563eb;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #aaa;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .social-icons a {
    margin-right: 10px;
  }
}
